
@model DIYtoMvc.Models.CommmentsModel



        <form method="Post" class="comment-form">
                <div asp-validation-summary="ModelOnly"></div>
                <label asp-for="Name"></label> </br>
                <input class="name" asp-for="Name"/></br>
                <span class="errorMessage" asp-validation-for="Name"></span> </br>
                <label asp-for="Theme"></label></br>
                <input class="theme" asp-for="Theme"/></br>
                <span class="errorMessage" asp-validation-for="Theme"></span></br>

                <label asp-for="Member"></label></br>
                <input class="member" asp-for="Member"/></br>
                <span class="errorMessage" asp-validation-for="Member"></span></br>

                <label asp-for="Interests"></label></br>
                <input class="interests" asp-for="Interests"/></br>
                <span class="errorMessage" asp-validation-for="Interests"></span></br>

                <label asp-for="Comment"></label></br>
                <input class="comment" asp-for="Comment"/>
                <span class="errorMessage" asp-validation-for="Comment"></span>

                <input class="submit" type="submit" value="Add comment"/>
        </form> 