        @model List<DIYtoMvc.Models.CommmentsModel>

        
        <div class="comments-div">
        <h2>Comments</h2>
        @if(Model != null){
            @foreach (var comment in Model)
            {
                <div class="comment">
                    <b>@comment.Name</b>
                    <p>@comment.Comment</p>
                    <b>@comment.Theme</b>
                </div>
            }
        }
        </div>