
@model DIYtoMvc.Models.CommmentsModel



        <form method="post" asp-controller="Testdata" class="comment-form">
                <div asp-validation-summary="ModelOnly"></div></br>
                <label asp-for="Name"></label> </br>
                <input asp-for="Name"/></br>
                <span asp-validation-for="Name"></span></br>
                <label asp-for="Comment"></label></br>
                <input asp-for="Comment"/>
                <span asp-validation-for="Comment"></span></br>
                <label asp-for="Theme"></label></br>
                <input asp-for="Theme"/></br>
                <span asp-validation-for="Theme"></span></br>
                <input class="submit" type="submit" value="Add comment"/>
        </form>

