@* This is a partial that is displayed on every view *@

        <div class="widgets">
            <div class="map">
                <h2>Find us here:</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1942.8449464717717!2d8.548822516127363!3d60.85964178222024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x463fe80f9dcb8329%3A0xe62a3d1991ab26f2!2sFiskumvegen%20150%2C%203560%20Hemsedal!5e0!3m2!1ssv!2sno!4v1608383295496!5m2!1ssv!2sno"
                    width="400" height="400" frameborder="0" style="border: 0" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <div class="instagram">
                <h2>Follow us on instagram</h2>
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-135be833-b388-4ab5-81ae-cab95c5f6b26"></div>
            </div>
            <div class="weather">
                <h2>Weather report</h2>
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-5078bcdf-cb44-4df9-a331-81df8680f666"></div>
            </div>
        </div>