@model IEnumerable<DIYtoMvc.Models.Commments>
@{
    ViewData["Title"] = "Test-data";

}
<main>
    <!-- Här är citat delen som skiljer sig från de olika sidorna med hjälp av klasser -->
    <section class="main-quote">
        <blockquote class="about">
            <h1>Test-data:</h1>
        </blockquote>
    </section>
    <!-- Gör en div på innehåller för att styra positionen via flex -->
    <section class="main-content">
        <form asp-controller="Home" asp-action="CreateComment" method="Post">
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name"/>
            </div>
            <div>
                <label asp-for="Comment"></label>
                <input asp-for="Comment"/>
            </div>
        </form>
        <div class="comments">
            @foreach (var comment in Model)
            {
                <b>@comment.Name</b>
                <p>@comment.Comment</p>
            }

        </div>

    </section>
</main>