@model DIYtoMvc.Models.CommmentsModel
@{
    ViewData["Title"] = "Test-data";

}
<main>
    <!-- Här är citat delen som skiljer sig från de olika sidorna med hjälp av klasser -->
    <section class="main-quote">
        <blockquote class="about">
            <h1>Test-data:</h1>
        </blockquote>
    </section>
    <!-- Gör en div på innehåller för att styra positionen via flex -->
    <section class="main-content">
        <form method="Post">
                <div asp-validation-summary="ModelOnly"></div>
                <label asp-for="Name"></label> </br>
                <input asp-for="Name"/>
                </br>
                <span asp-validation-for="Name"></span>
                </br>
                <label asp-for="Comment"></label></br>
                <input asp-for="Comment"/>
                </br>
                <span asp-validation-for="Comment"></span>
                </br>
                <label asp-for="Theme"></label></br>
                <input asp-for="Theme"/></br>
                </br>
                <span asp-validation-for="Theme"></span>
                </br>
                <input type="submit" value="Add comment"/>
        </form>
        <div class="comments">
            @* @foreach (var comment in Model)
            {
                <b>@comment.Name</b>
                <p>@comment.Comment</p>
            } *@

        </div>

    </section>
</main>