@model DIYtoMvc.Models.CommmentsModel
@{
    ViewData["Title"] = "Test-data";

}
<main>
    <!-- Här är citat delen som skiljer sig från de olika sidorna med hjälp av klasser -->
    <section class="main-quote">
        <blockquote class="about">
            <h1>Test-data:</h1>
        </blockquote>
    </section>
    <!-- Gör en div på innehåller för att styra positionen via flex -->
    <section class="main-content">
        
    
    <div class="comments-div">
        <h2>Comments</h2>
            @foreach( var item in ViewBag.comments)
            {
                <div class="comment">
                    <b>@item.Name</b>
                    <p>@item.Comment</p>
                    <b>@item.Theme</b>
                </div>
            }
        
        </div>


        <form method="Post" class="comment-form">
                <div asp-validation-summary="ModelOnly"></div>
                <label asp-for="Name"></label> </br>
                <input class="name" asp-for="Name"/></br>
                <span asp-validation-for="Name"></span>
                <label asp-for="Theme"></label></br>
                <input class="theme" asp-for="Theme"/></br>
                <span asp-validation-for="Theme"></span></br>
                <label asp-for="Comment"></label></br>
                <input class="comment" asp-for="Comment"/>
                <span asp-validation-for="Comment"></span>

                <input class="submit" type="submit" value="Add comment"/>
        </form>

    </section>
</main>