@{
        ViewData["Title"] = "Startsida";
}
<main>
      <!-- Här är citat delen som skiljer sig från de olika sidorna med hjälp av klasser -->
      <section class="main-quote">
        <blockquote class="index">
          ”You entered this page at @ViewBag.session ”
        </blockquote>
      </section>
      <section class="main-content">
        <!-- Video som är länkad från vimeo -->
        <section class="video">
          <iframe
            src="https://player.vimeo.com/video/167925742"
            width="740"
            height="560"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
        </section>
        <!-- Text som skall lägga sig vid sidan om videon -->
        <div class="text">
          <h2>Skate in hemsedal:  </h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries.
          </p>
        </div>
      </section>
      <partial name="_Widgets" />
    </main>
            